{% extends 'base.html' %}

{% load static %}
{% static "images" as baseUrl %}

{% block content %}

<body onload="showData()" style='background-color: #f8f8f8;'>
  <div class="container mx-auto flex p-5">
    <section class="text-gray-700 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">

            Coronavirus disease 2019 (COVID-19)
          </h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
            It is an infectious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). Common
            symptoms include fever, cough, fatigue, shortness of breath, and loss of smell and taste. While the majority
            of cases result in mild symptoms, some progress to acute respiratory distress syndrome (ARDS) likely
            precipitated by a cytokine storm, multi-organ failure, septic shock, and blood clots.
          </p>
        </div>
        <div class="flex flex-wrap -m-4 text-center">
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-200 px-4 py-6 rounded-lg" style="color:blueviolet;">

              <h2 class="title-font font-medium text-3xl text-gray-900" style="color:blueviolet;" id="confirmed-cases">&nbsp;</h2>
              <p class="leading-relaxed">Confirmed Cases</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-200 px-4 py-6 rounded-lg" style="color:red;">
              <h2 class="title-font font-medium text-3xl text-gray-900" style="color:red;" id="active-cases">&nbsp;</h2>
              <p class="leading-relaxed">Active Cases</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-200 px-4 py-6 rounded-lg" style="color:green;">

              <h2 class="title-font font-medium text-3xl text-gray-900" style="color:green;" id="recovered-cases">&nbsp;</h2>
              <p class="leading-relaxed">Recovered Cases</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-200 px-4 py-6 rounded-lg" style="color:grey;">

              <h2 class="title-font font-medium text-3xl text-gray-900" style="color:grey;" id="death-cases">&nbsp;</h2>
              <p class="leading-relaxed">Death Cases</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

<script>
  function showData() {
    const URL = 'https://corona.lmao.ninja/v2/all'
    const req = new XMLHttpRequest()

    req.open('GET', URL, true)

    req.onreadystatechange = function () {
      if (req.readyState === XMLHttpRequest.DONE && req.status === 200) {
        let data = JSON.parse(req.responseText)
        console.log(data)
        document.getElementById('confirmed-cases').textContent=data['cases'].toLocaleString('en-US')
        document.getElementById('active-cases').innerHTML=data['active'].toLocaleString('en-US')
        document.getElementById('recovered-cases').innerHTML=data['recovered'].toLocaleString('en-US')
        document.getElementById('death-cases').innerHTML=data['deaths'].toLocaleString('en-US')

      }
    }
    req.send()
  }
</script>
{% endblock %}